@charset "utf-8";
/* CSS Document */
.usbox { width:100%; min-height:300px; margin-top:30px;  border:1px solid #e9e9e9; background:#F4F4F4;}
.umain { float:left; width:939px; border-right:1px solid #e9e9e9; min-height:300px; background:#fff;}
.usider { width:260px; float:right;}

.m-useif { position:relative; }
.m-useif .bg { width:100%; height:100px; background:#333; position:absolute; z-index:0;}
.m-useif .infos { position:relative; z-index:1; padding-top:30px; float:left; width:65%;}
.m-useif .infos .img { float:left; width:180px; height:180px; padding:10px; background:#fff;}
.m-useif .infos .img img { width:180px;}
.m-useif .infos .cont { padding-top:70px; padding-left:220px;}
.m-useif .infos .cont .tl { padding:20px 0; color:#666; }
.m-useif .infos .cont .tl strong { line-height:40px; text-align:center; vertical-align:middle; font-size:30px; font-family:"微软雅黑"; color:#999; font-weight:400; margin-right:25px;}
.m-useif .infos .cont .tl i { margin-right:15px;}
.m-useif .infos .cont .btn { float:left;}
.m-useif .infos .cont .tg { padding-left:80px; color:#666;}
.m-useif .infos .cont span a { color:#999; margin-right:15px; display:inline-block;}
.m-useif .num { position:relative; float:right; padding-top:30px;}
.m-useif .num a { width:100px; height:75px; color:#666; background:#fff; border:10px solid #333; display:inline-block; border-radius:100px; text-align:center; padding-top:25px;}
.m-useif .num a b { font-size:25px; font-family:"微软雅黑"; color:#f60;}
.m-useif .num a:hover,.m-useif .num a.crent { background:#2B95FF; color:#fff!important;}
.m-useif .num a:hover b,.m-useif .num a.crent b { color:#fff;}

.m-ulist .tab { height:50px; background:url(../images/dot.png) repeat-x left bottom;}
.m-ulist .tab a { display:inline-block; float:left; line-height:50px; padding:0 45px; background:url(../images/dot.png) repeat-y right top; font-size:14px;}
.m-ulist .tab a.crent { background:#fff url(../images/dot.png) repeat-y right top; font-weight:bold;}
.m-ulist .elmt { padding:30px 40px; border-bottom:1px dotted #e9e9e9;}
.m-ulist .elmt .til { text-align:right; line-height:40px; height:40px; color:#999; font-size:14px;}
.m-ulist .elmt .til b { float:left; color:#333;}
.m-ulist .elmt .img { float:left; width:120px;}
.m-ulist .elmt .img img { width:120px;}
.m-ulist .elmt .cont { padding-left:140px; color:#666;}
.m-ulist .elmt .cont h3 { font-size:20px; height:35px; font-family:"微软雅黑"; font-weight:400;}
.m-ulist .elmt .cont span { color:#999;}
.m-ulist .elmt .cont .ba { margin-bottom:5px;}
.m-ulist .elmt .cont .ba b { color:#f60; margin-right:15px;}
.m-ulist .elmt .cont .ba span { color:#999; margin-left:10px;}
.m-ulist .elmt .cont .p { color:#f60;}

.m-ulist .elmt .tac {}
.m-ulist .elmt .img { float:left;}
.m-ulist .elmt .img img { width:100px; height:100px;}
.m-ulist .elmt .ifo { width:250px; padding-left:20px; float:left;}
.m-ulist .elmt .ifo strong { font-size:16px;}
.m-ulist .elmt .ifo span { color:#999; display:block; margin:5px 0;}
.m-ulist .elmt .tj { float:left; height:70px; padding:10px 0 0; width:300px;}
.m-ulist .elmt .tj span { display:block; width:140px; padding-top:10px; float:left; text-align:center; color:#999;}
.m-ulist .elmt .tj span b { font-size:28px; font-weight:400; font-family:"微软雅黑"; color:#333;}
.m-ulist .elmt .tj span.b { border-right:1px solid #e9e9e9;}
.m-ulist .elmt .bt { width:110px; float:right;}
.m-ulist .elmt .bt .btn { display:block; width:110px; padding-left:0; padding-right:0; margin-bottom:5px; text-align:center;}

.m-ucont { padding:20px; color:#999; border-bottom:4px solid #e9e9e9;}
.m-ucont b { display:block; color:#333;}

.m-uperss { padding:15px 0;border-bottom:4px solid #e9e9e9;}
.m-uperss .til { height:40px; padding:0 10px;}
.m-uperss .til b { float:left;}
.m-uperss .til a { float:right; color:#999;}
.m-uperss li { width:50px; height:50px; float:left; padding:0 13px; margin-bottom:26px;}

.m-wlcouse { padding:15px 0;}
.m-wlcouse .til { height:40px; padding:0 10px;}
.m-wlcouse .til b { float:left;}
.m-wlcouse .til a { float:right; color:#999;}
.m-wlcouse .elmt { padding:10px 0; height:40px;}
.m-wlcouse .elmt .img,.m-wlcouse .elmt .img img { width:50px; float:left; margin-top:2px;}
.m-wlcouse .elmt .cont { padding-left:65px;}
.m-wlcouse .elmt .cont strong { display:block; font-weight:400;}
.m-wlcouse .elmt .cont b { color:#f60; margin-right:15px;}
.m-wlcouse .elmt .cont span { color:#999;}

.m-order { padding:30px 30px 0;}
.m-order .od a { display:inline-block; float:left; padding:0 25px; height:35px; line-height:35px; background:#E9E9E9; color:#666; margin-right:1px; position:relative;}
.m-order .od a.seleted { background:#2B95FF; color:#fff!important;}
.m-order .od a i { display:inline-block; width:9px; height:9px; background-image:url(../images/edui.png); margin-left:8px;}
.m-order .od a i.down { background-position:-475px top;}
.m-order .od a i.up { background-position:-475px -12px;}
